<template>
  <div id="main" class="main">
    <div class="mainContent">
      <div class="mainTabs">
        <SpicyTabs :tabs="tabs">
          <template v-slot:tab1>
            <SpicyAccordion singleOpen :sections="accordionItems">
              <template v-slot:section-0>
                <p>Section 1</p>
              </template>

              <template v-slot:section-1>
                <p>Section 2</p>
              </template>

              <template v-slot:section-2>
                <p>Section 3</p>
              </template>
            </SpicyAccordion>
          </template>

          <template v-slot:tab2>
            <SpicyAlert
              class="mb-8"
              title="Alert Title"
              text="This is an alert"
              :mdi="mdiDownload"
              closable
              :closeIcon="mdiClose"
            />
            <SpicyAlert class="mb-8" text="Info" closable :autoClose="autoCloseTimer" isRound />
            <SpicyAlert
              class="mb-8"
              text="Success"
              variant="success"
              icon="🚨"
              iconOnly
              closable
              :closeIcon="mdiClose"
            />
            <SpicyAlert
              class="mb-8"
              text="Warning"
              variant="warning"
              :mdi="mdiAlert"
              closable
              :closeIcon="mdiClose"
            />

            <SpicyAlert
              class="mb-8"
              text="Error"
              variant="error"
              :mdi="mdiAlert"
              closable
              :closeIcon="mdiClose"
              isRound
            />

            <SpicyAlert text=".spicyAlert.custom" variant="custom" />
          </template>

          <template v-slot:tab3>
            <SpicyBtn v-spicyDrag @click="handleClick" text="Click Me" />
            <SpicyBtn text="Disabled" disabled />
            <SpicyBtn :mdi="mdiHeart" text="With MDI Icon" variant="outlined" />
            <SpicyBtn :mdi="mdiHeart" variant="outlined" />
          </template>

          <template v-slot:tab4>
            <SpicyCarousel v-spicyDrag :slides="slides" enableImageClick />
          </template>

          <template v-slot:tab5>
            <p>Divider</p>
            <SpicyDivider />
            <p>Dashed Divider with color</p>
            <SpicyDivider variant="dashed" color="red" size="4px" />
            <p>Vertical Divider</p>
            <SpicyDivider size="8px" length="400px" orientation="vertical" color="blue" />
          </template>

          <template v-slot:tab6>
            <SpicyDropdown label="Some Label" :items="dropdownItems" />
          </template>

          <template v-slot:tab7>
            <SpicyFileInput
              v-model="uploadedFiles"
              label="Multifile Input"
              accept=".pdf,.doc,.docx,.jpg,.png,.txt"
              multiple
              clearable
              @change="handleFileChange"
              @error="handleError"
            >
              <p v-if="uploadedFiles.length">Files Added Successfully!</p>
            </SpicyFileInput>

            <SpicyFileInput
              v-model="uploadedFiles"
              label="Singlefile Input"
              variant="solid"
              color="red"
              accept=".pdf,.doc,.docx,.jpg,.png,.txt"
              clearable
              :mdi="mdiClose"
              @change="handleFileChange"
              @error="handleError"
              disabled
            />
          </template>

          <template v-slot:tab8>
            <SpicyDialog v-model="dialog" maxWidth="900px">
              <SpicySheet color="#000" padding="32px" isRound>
                <SpicyTextField label="Some Label" prefix="> " variant="filled"  clearable />
                  <br>
                <SpicyTextField label="Some Label" clearable :mdi="mdiClose" />
              </SpicySheet>
            </SpicyDialog>
            <SpicyBtn @click="dialog = true" text="Open Dialog" />
          </template>

          <template v-slot:tab9>
            <SpicyBtn text="Open Modal" />
          </template>

          <template v-slot:tab10>
            <SpicyBtn @click="simulateLoading()" text="Start Loading" />
            <SpicyBtn @click="percentage = 0" text="Reset" />
            <SpicyProgress :value="percentage" />
            <SpicyProgress :value="percentage" type="circular" showLabel color="blue" />
          </template>

          <template v-slot:tab11>
            <SpicyDialog v-model="spicySheetDialog" color="#3ba8aca4">
              <SpicySheet isRound flex padding="16px" color="green">
                <h3>Sheet Content</h3>
                <p>Some content</p>
              </SpicySheet>
            </SpicyDialog>
            <SpicyBtn @click="spicySheetDialog = true" text="Open Sheet" />
          </template>

          <template v-slot:tab12>
            <p>Value: {{ sliderValue }}</p>
            <SpicySlider label="Slider Label" v-model.number="sliderValue" />
          </template>

          <template v-slot:tab13>
            <p>Youre looking at it! :)</p>
          </template>

          <template v-slot:tab14>
            <SpicyTextArea
              v-model="textAreaValue"
              name="textArea"
              color="#00000050"
              placeholder="Placeholder"
            />
          </template>

          <template v-slot:tab15>
            <SpicyToggle v-model="toggleValue" :label="toggleValue ? 'On' : 'Off'" @click="toggleAction" />
            <SpicyToggle
              v-model="toggleValueDisabled"
              :label="toggleValueDisabled ? 'Disabled' : 'Disabled'"
              disabled
            />
            <SpicyToggle v-model="toggleBasic" />
          </template>

          <template v-slot:tab16>
            <p>Hover the button to see the tooltip</p>
            <SpicyTooltip text="Account" position="left">
              <SpicyBtn :mdi="mdiAccount" />
            </SpicyTooltip>

            <SpicyTooltip text="Download" position="right">
              <SpicyBtn :mdi="mdiDownload" />
            </SpicyTooltip>
          </template>

          <template v-slot:tab17>
            <SpicyTree :nodes="treeNodes" />
          </template>
        </SpicyTabs>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

// import {
//   SpicyAccordion,
//   SpicyAlert,
//   SpicyBtn,
//   SpicyCarousel,
//   SpicyDivider,
//   SpicyDropdown,
//   SpicyFileInput,
//   SpicyTextField,
//   SpicyModal,
//   SpicyProgress,
//   SpicySheet,
//   SpicySlider,
//   SpicyTabs,
//   SpicyTextArea,
//   SpicyToggle,
//   SpicyTooltip,
//   SpicyTree
// } from 'spicykatsu'
import { mdiDownload, mdiClose, mdiHome, mdiAccount, mdiLock, mdiAlert, mdiHeart } from '@mdi/js'

const uploadedFiles = ref<File[]>([])

const spicySheetDialog = ref(false)
const dialog = ref(false)

const handleFileChange = (files: File[]) => {
  console.log('Files selected:', files)
}

const handleError = (error: string) => {
  console.error('File upload error:', error)
}

const tabs = [
  { name: 'tab1', label: 'Spicy Accordion' },
  { name: 'tab2', label: 'Spicy Alert' },
  { name: 'tab3', label: 'Spicy Button' },
  { name: 'tab4', label: 'Spicy Carousel' },
  { name: 'tab5', label: 'Spicy Divider' },
  { name: 'tab6', label: 'Spicy Dropdown' },
  { name: 'tab7', label: 'Spicy File Input' },
  { name: 'tab8', label: 'Spicy TextField' },
  { name: 'tab9', label: 'Spicy Modal' },
  { name: 'tab10', label: 'Spicy Progress' },
  { name: 'tab11', label: 'Spicy Sheet' },
  { name: 'tab12', label: 'Spicy Slider' },
  { name: 'tab13', label: 'Spicy Tabs' },
  { name: 'tab14', label: 'Spicy Textarea' },
  { name: 'tab15', label: 'Spicy Toggle' },
  { name: 'tab16', label: 'Spicy Tooltip' },
  { name: 'tab17', label: 'Spicy Tree' }
]

const accordionItems = [
  {
    title: 'Accordion Item 1'
  },
  {
    title: 'Accordion Item 2'
  },
  {
    title: 'Accordion Item 3'
  }
]

const autoCloseTimer = 4000

const handleClick = () => {
  console.log('clicked')
}

const dropdownItems = [
  {
    label: 'Dropdown Item 1',
    icon: mdiHome
  },
  {
    label: 'Dropdown Item 2',
    icon: mdiAccount
  },
  {
    label: 'Dropdown Item 3',
    icon: mdiLock
  },
  {
    label: 'Dropdown Item 4',
    icon: mdiDownload
  }
]

const treeNodes = [
  {
    id: 'node-1',
    label: 'Node 1',
    children: [
      {
        id: 'node-1-1',
        label: 'Node 1.1',
        children: [
          {
            id: 'node-1-1-1',
            label: 'Node 1.1.1'
          },
          {
            id: 'node-1-1-2',
            label: 'Node 1.1.2',
            children: [
              {
                id: 'node-1-1-2-1',
                label: 'Node 1.1.2.1'
              },
              {
                id: 'node-1-1-2-2',
                label: 'Node 1.1.2.2'
              }
            ]
          }
        ]
      },
      {
        id: 'node-1-2',
        label: 'Node 1.2'
      }
    ]
  },
  {
    id: 'node-2',
    label: 'Node 2'
  }
]

const percentage = ref(0)
const simulateLoading = () => {
  const duration = 6000
  const intervalTime = 100
  const step = 100 / (duration / intervalTime)

  const interval = setInterval(() => {
    if (percentage.value >= 100) {
      percentage.value = 100
      clearInterval(interval)
    } else {
      percentage.value += step
    }
  }, intervalTime)
}

const slides = [
  {
    img: 'https://images4.alphacoders.com/889/889823.jpg'
  },
  {
    img: 'https://images3.alphacoders.com/699/699057.png',
    text: 'Slide 2 Text',
    fullScreen: false
  },
  {
    img: 'https://images6.alphacoders.com/133/1333695.jpeg',
    text: 'Slide 3 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  },
  {
    img: 'https://images.alphacoders.com/132/1327999.jpeg',
    text: 'Slide 4 Text'
  }
]

const sliderValue = ref(50)

const textAreaValue = ref('')

const toggleValue = ref(false)
const toggleValueDisabled = ref(false)
const toggleBasic = ref(false)

const toggleAction = () => {
  const playgrondID = document.getElementById('main') as HTMLDivElement
  if (!toggleValue.value) {
    playgrondID.style.backgroundColor = '#0f1129'
  } else {
    playgrondID.style.backgroundColor = '#3e0070'
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1129;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  background-color: #1e2137;
  border-radius: 12px;
  width: 80vw;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mainTabs {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mb-8 {
  margin-bottom: 8px;
}
</style>
