:root {
  --skBgColor: #28292a;
  --skBgSecondaryColor: #424344;
  --skBorderColor: #515353;
  --skPrimaryColor: #811faf;
  --skSecondaryColor: #0066b3;
  --skAccentColor: #004a77;
  --skHoverColor: #656769;
  --skTextColor: #ddd;

  --skFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --skFontSize: 1rem;
  --skFontWeight: 500;

  --skBorderRadius: 4px;
}

.spicyText {
  color: var(--skTextColor);
  font-family: var(--skFontFamily);
  font-size: var(--skFontSize);
}

.spicyHeader {
  color: var(--skTextColor);
  font-family: var(--skFontFamily);
  font-size: 24px;
  font-weight: bold;
}

.spicyLink:hover {
  color: var(--skHoverColor);
}

.spicyLink:active {
  color: var(--skPrimaryColor);
}

.spicyLink:focus {
  color: var(--skPrimaryColor);
}

.spicyLink:disabled {
  opacity: 0.3;
}