.spicyRipple {
  position: absolute;
  border-radius: 50%;
  background: currentColor;
  transform: scale(0);
  animation: spicy-ripple-animation 600ms linear;
  pointer-events: none;
  z-index: 1;
}

@keyframes spicy-ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
