<template>
  <div v-if="visible" class="spicyModalOverlay" @click="handleOverlayClick" aria-modal="true" role="dialog">
    <div class="spicyModal" :style="{ ...modalStyles }" @keydown.esc="close">
      <header class="spicyModalHeader">
        <slot name="spicyModalHeader" :title="modalTitle" :aria-label="modalTitle">{{ modalTitle }}</slot>
      </header>
      <slot></slot>
      <div class="spicyModalActions">
        <slot name="spicyModalActions"></slot>
        <button
          v-if="actions.length === 0 && closeBtn"
          class="spicyModalCloseBtn spicyModalActionBtn"
          @click="close"
        >
          <slot name="closeBtn">Close</slot>
        </button>
        <button
          v-for="action in actions"
          :key="action.label"
          class="spicyModalExtraBtn spicyModalActionBtn"
          @click="handleAction(action)"
        >
          {{ action.label }}
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, onBeforeUnmount, watch } from 'vue'

interface SpicyModalProps {
  width?: string
  height?: string
  borderRadius?: string
  bgColor?: string
  visible?: boolean
  closeBtn?: boolean
  actions?: Array<any>
  closeOnClick?: boolean
  modalTitle?: string
  textColor?: string
}

const props = withDefaults(defineProps<SpicyModalProps>(), {
  width: '400px',
  height: 'auto',
  borderRadius: '6px',
  bgColor: '',
  visible: false,
  closeBtn: true,
  actions: () => [],
  closeOnClick: true,
  modalTitle: '',
  textColor: ''
})

const emits = defineEmits<{
  (e: 'update:visible', value: boolean): void
  (e: 'close'): void
  (e: 'action-clicked', action: any): void
}>()

const modalStyles = computed(() => ({
  '--width': props.width,
  '--height': props.height,
  '--skBorderRadius': props.borderRadius,
  '--skBgColor': props.bgColor,
  '--skTextColor': props.textColor
}))

const close = () => {
  emits('update:visible', false)
  emits('close')
}

const handleAction = (action: any) => {
  if (typeof action.handler === 'function') {
    action.handler()
  }
  emits('action-clicked', action)
}

const handleOverlayClick = (event: MouseEvent) => {
  const target = event.target as HTMLElement
  if (props.closeOnClick && target.classList.contains('spicyModalOverlay')) {
    close()
  }
}

const disableBodyScroll = () => {
  document.body.style.overflow = 'hidden'
}

const enableBodyScroll = () => {
  document.body.style.overflow = ''
}

onMounted(() => {
  if (props.visible) {
    disableBodyScroll()
  }
})

onBeforeUnmount(() => {
  enableBodyScroll()
})

watch(
  () => props.visible,
  (newValue) => {
    if (newValue) {
      disableBodyScroll()
    } else {
      enableBodyScroll()
    }
  }
)
</script>

<style>
.spicyModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spicyModal {
  padding: 20px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-out;
  font-size: 15px;
  border-radius: var(--skBorderRadius);
  background-color: var(--skBgColor);
  z-index: 1001;
}

.spicyModalHeader {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.spicyModalActions {
  margin-top: 20px;
  text-align: right;
}

.spicyModalActionBtn {
  background-color: transparent;
  border: none;
  color: var(--skTextColor, #ddd);
  cursor: pointer;
}

.spicyModalActionBtn:hover {
  text-decoration: underline;
}
</style>
