<template>
  <div class="spicyAccordion">
    <div v-for="(section, index) in sections" :key="index" class="spicyAccordionItem">
      <button
        class="spicyAccordionHeader"
        @click="toggleSection(index)"
        :aria-expanded="isOpen(index)"
        :class="{ open: isOpen(index) }"
      >
        <span>{{ section.title }}</span>
        <svg
          v-if="section.icon"
          class="accordionIcon"
          :viewBox="'0 0 24 24'"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path :d="section.icon" />
        </svg>
        <span class="accordionToggle">
          <svg class="accordionArrow" viewBox="0 0 24 24">
            <path d="M7 10l5 5 5-5H7z" />
          </svg>
        </span>
      </button>
      <transition name="fade">
        <div v-show="isOpen(index)" class="spicyAccordionContent">
          <slot :name="`section-${index}`"></slot>
        </div>
      </transition>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

interface SpicyAccordionSection {
  title: string
  icon?: string
}

interface SpicyAccordionProps {
  sections: SpicyAccordionSection[]
  singleOpen?: boolean
  defaultOpen?: number[]
}

const props = withDefaults(defineProps<SpicyAccordionProps>(), {
  singleOpen: false
})

const openSections = ref<number[]>(props.defaultOpen || [])

const toggleSection = (index: number) => {
  if (props.singleOpen) {
    openSections.value = openSections.value.includes(index) ? [] : [index]
  } else {
    const sectionIndex = openSections.value.indexOf(index)
    if (sectionIndex === -1) {
      openSections.value.push(index)
    } else {
      openSections.value.splice(sectionIndex, 1)
    }
  }
}

const isOpen = (index: number) => openSections.value.includes(index)
</script>

<style>
.spicyAccordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.spicyAccordionItem {
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }
}

.spicyAccordionHeader {
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 200ms ease;

  &.open {
    background-color: #e0e0e0;

    .accordionArrow {
      transform: rotate(180deg);
    }
  }
}

.spicyAccordionContent {
  padding: 10px;
  background-color: #fff;
}

.accordionToggle {
  display: flex;
  align-items: center;
  transition: transform 200ms ease;
}

.accordionArrow {
  width: 20px;
  height: 20px;
  transition: transform 200ms;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
