<template>
  <div @mouseover="showTooltip" @mouseleave="hideTooltip" ref="host">
    <slot></slot>
    <div
      v-if="tooltipVisible"
      class="spicyTooltip"
      :style="tooltipStyle"
      role="tooltip"
      :aria-hidden="!tooltipVisible"
    >
      <span v-if="prependIcon" class="spicyTooltipIcon">{{ prependIcon }}</span>
      <span v-if="text" class="spicyTooltipText" :aria-label="text">{{ text }}</span>
      <span v-if="appendIcon" class="spicyTooltipIcon">{{ appendIcon }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, nextTick } from 'vue'

interface SpicyTooltipProps {
  text?: string
  prependIcon?: string
  appendIcon?: string
  position: 'top' | 'bottom' | 'left' | 'right'
}

const props = withDefaults(defineProps<SpicyTooltipProps>(), {
  text: '',
  prependIcon: '',
  appendIcon: '',
  position: 'top'
})

const tooltipVisible = ref(false)
const host = ref<HTMLElement | null>(null)
const tooltipStyle = reactive({
  position: 'fixed',
  top: '0px',
  left: '0px',
  maxWidth: '175px'
}) as { [key: string]: string | number }

const adjustPositionForViewport = (tooltipRect: DOMRect) => {
  const overflowRight = tooltipRect.right - window.innerWidth
  if (overflowRight > 0) {
    tooltipStyle.left = `${parseInt(tooltipStyle.left as string) - overflowRight - 5}px`
  }
  const overflowLeft = tooltipRect.left
  if (overflowLeft < 0) {
    tooltipStyle.left = `5px`
  }
}

const positionStrategies: {
  [key in SpicyTooltipProps['position']]: (hostRect: DOMRect, tooltipRect: DOMRect) => void
} = {
  top: (hostRect, tooltipRect) => {
    tooltipStyle.left = `${hostRect.left + (hostRect.width - tooltipRect.width) / 2}px`
    tooltipStyle.top = `${hostRect.top - tooltipRect.height - 5}px`
  },
  bottom: (hostRect, tooltipRect) => {
    tooltipStyle.left = `${hostRect.left + (hostRect.width - tooltipRect.width) / 2}px`
    tooltipStyle.top = `${hostRect.bottom + 5}px`
  },
  left: (hostRect, tooltipRect) => {
    tooltipStyle.left = `${hostRect.left - tooltipRect.width - 5}px`
    tooltipStyle.top = `${hostRect.top + (hostRect.height - tooltipRect.height) / 2}px`
  },
  right: (hostRect, tooltipRect) => {
    tooltipStyle.left = `${hostRect.right + 5}px`
    tooltipStyle.top = `${hostRect.top + (hostRect.height - tooltipRect.height) / 2}px`
  }
}

const showTooltip = () => {
  tooltipVisible.value = true
  nextTick(() => {
    if (host.value && tooltipVisible.value) {
      const hostRect = host.value.getBoundingClientRect()
      const tooltipElement = host.value.querySelector('.spicyTooltip') as HTMLElement
      if (tooltipElement) {
        const tooltipRect = tooltipElement.getBoundingClientRect()
        const strategy = positionStrategies[props.position]
        strategy(hostRect, tooltipRect)
        adjustPositionForViewport(tooltipRect)
      }
    }
  })
}

const hideTooltip = () => {
  tooltipVisible.value = false
}
</script>

<style>
.spicyTooltip {
  z-index: 9999;
  background-color: var(--skBgColor);
  color: var(--skTextColor);
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  border: 1px solid var(--skBorderColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spicyTooltipIcon {
  font-size: 18px;
}
</style>
