<template>
  <label class="spicyToggleLabel" :class="{ disabled }" :for="`${label || 'toggle'}_spicyToggle`">
    {{ label }}
    <div
      class="spicyToggle"
      :id="toggleId"
      :tabindex="disabled ? -1 : 0"
      role="switch"
      :class="{ outlined: variant === 'outlined', isActive: modelValue }"
      :style="{ ...toggleStyles }"
      :aria-label="label || 'Toggle Switch'"
      :aria-checked="modelValue"
      :aria-disabled="disabled"
      @click="toggle"
      @keydown.space.prevent="toggle"
      @keydown.enter.prevent="toggle"
      v-bind="$attrs"
    >
      <div class="spicyToggleKnob"></div>
    </div>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const toggleId = computed(() => `${props.label || 'toggle'}_spicyToggle`)

interface SpicyToggleProps {
  modelValue?: boolean
  label?: string
  variant?: 'outlined' | 'filled'
  borderColor?: string
  activeColor?: string
  disabled?: boolean
}

const props = withDefaults(defineProps<SpicyToggleProps>(), {
  modelValue: false,
  label: '',
  variant: 'filled',
  borderColor: '',
  activeColor: '',
  disabled: false
})

const toggleStyles = computed(() => ({
  '--skBorderColor': props.borderColor,
  '--activeColor': props.activeColor
}))

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()

const toggle = () => {
  if (!props.disabled) {
    emit('update:modelValue', !props.modelValue)
  }
}
</script>

<style>
.spicyToggleLabel {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;
  &.disabled {
    .spicyToggle {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}

.spicyToggle {
  width: 50px;
  height: 24px;
  background-color: var(--skBgSecondaryColor, #424344);
  border-radius: 30px;
  cursor: pointer;
  padding: 2px;
  transition: background-color 200ms;
  display: inline-flex;
  align-items: center;
  outline: none;
  &.isActive {
    background-color: var(--activeColor, var(--skPrimaryColor));
    .spicyToggleKnob {
      transform: translateX(30px);
    }
  }
  &.outlined {
    background-color: transparent;
    border: 2px solid var(--skBorderColor, #515353);
    &.isActive {
      background-color: var(--activeColor, var(--skPrimaryColor));
      border-color: var(--activeColor, var(--skPrimaryColor));
    }
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }
  &.disabled {
    pointer-events: none;
  }
  &:hover {
    background-color: var(--hoverColor, #555);
  }
}

.spicyToggleKnob {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 200ms;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
</style>
