<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="spicyAlert"
      :class="[variant, { spicyAlertRound: isRound }]"
      aria-atomic="true"
      :aria-label="text || 'Alert'"
      role="alert"
      @keydown.enter="closeAlert"
      @mouseenter="pauseAutoClose"
      @mouseleave="resumeAutoClose"
    >
      <span v-if="iconOnly && icon" class="spicyAlertIcon">{{ icon }}</span>
      <svg v-if="mdi" class="spicyAlertIcon" :viewBox="'0 0 24 24'" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" class="spicyAlertMDI" :d="mdi" />
      </svg>

      <div class="spicyAlertContainer">
        <span v-if="title" class="spicyAlertTitle">{{ title }}</span>
        <span v-if="!iconOnly && text" class="spicyAlertText">{{ text }}</span>
      </div>

      <button v-if="closable" class="spicyAlertCloseBtn" @click="closeAlert" aria-label="Close alert">
        <svg v-if="closeIcon" :viewBox="'0 0 24 24'" xmlns="http://www.w3.org/2000/svg">
          <path fill="#000" :d="closeIcon" />
        </svg>
        <span v-else>X</span>
      </button>

      <slot v-if="!text"></slot>
    </div>
  </transition>
</template>

<script setup lang="ts">
import { ref, watch, onBeforeUnmount } from 'vue'

interface SpicyAlertProps {
  variant?: 'info' | 'success' | 'warning' | 'error' | 'custom'
  title?: string
  text?: string
  icon?: string
  mdi?: string
  iconOnly?: boolean
  closable?: boolean
  autoClose?: number
  closeIcon?: string
  isRound?: boolean
}

const props = withDefaults(defineProps<SpicyAlertProps>(), {
  variant: 'info',
  iconOnly: false,
  closable: false,
  isRound: false,
  autoClose: 0
})

const isVisible = ref(true)
let autoCloseTimeout: ReturnType<typeof setTimeout> | null = null
let remainingTime = ref(props.autoClose)

const closeAlert = () => {
  isVisible.value = false
}

const startAutoClose = () => {
  if (props.autoClose && props.autoClose > 0) {
    autoCloseTimeout = setTimeout(() => {
      closeAlert()
    }, remainingTime.value)
  }
}

const clearAutoClose = () => {
  if (autoCloseTimeout) {
    clearTimeout(autoCloseTimeout)
    autoCloseTimeout = null
  }
}

const pauseAutoClose = () => {
  if (autoCloseTimeout) {
    clearAutoClose()
    const elapsed = props.autoClose - remainingTime.value
    remainingTime.value -= elapsed
  }
}

const resumeAutoClose = () => {
  startAutoClose()
}

watch(
  () => props.autoClose,
  (newAutoClose) => {
    remainingTime.value = newAutoClose
    clearAutoClose()
    startAutoClose()
  }
)

onBeforeUnmount(() => {
  clearAutoClose()
})

startAutoClose()
</script>

<style>
.spicyAlert {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;

  &.info {
    background-color: #e0e0e0;
    color: #333333;
  }

  &.success {
    background-color: #a3ffb7;
    color: #155724;
  }

  &.warning {
    background-color: #ffecaf;
    color: #856404;
  }

  &.error {
    background-color: #ffbdc2;
    color: #911f2a;
  }

  &.spicyAlertRound {
    border-radius: 8px;
  }
}

.spicyAlertIcon {
  width: 24px;
  height: 24px;
}

.spicyAlertContainer {
  display: flex;
  flex-direction: column;
}

.spicyAlertCloseBtn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 350ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
