<template>
  <li class="spicyTreeNodeItem" role="treeitem" :aria-expanded="isExpanded">
    <div @click="toggleChildren" style="cursor: pointer">
      <span>{{ node.label }}</span>
      <span v-if="hasChildren" class="spicyToggleIcon">
        {{ isExpanded ? '-' : '+' }}
      </span>
    </div>
    <svg
      v-if="node.icon"
      :width="node.iconSize"
      :height="node.iconSize"
      class="spicyTreeNodeIcon"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path :d="node.icon" />
    </svg>
    <ul v-if="isExpanded && node.children" role="group">
      <SpicyTreeNode v-for="child in node.children" :key="child.id" :node="child" />
    </ul>
  </li>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'

const props = defineProps<{
  node: {
    id: string
    label: string
    icon?: string
    iconSize?: string
    children?: any[]
  }
}>()

const isExpanded = ref(false)
const hasChildren = computed(() => props.node.children && props.node.children.length > 0)

const toggleChildren = () => {
  if (hasChildren.value) {
    isExpanded.value = !isExpanded.value
  }
}
</script>

<style>
.spicyTreeNodeIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.spicyToggleIcon {
  font-size: 14px;
  margin-left: 10px;
}

.spicyTreeNodeItem {
  list-style: none;
  margin-left: 16px;
}
</style>
