<template>
  <div
    class="spicyInputWrapper"
    :class="[variant, { hasValue: inputValue, hasFocus: isFocused, hasError: error }]"
  >
    <label class="spicyInputLabel" :aria-label="label">{{ label }}</label>
    <div class="spicyInputContainer">
      <span v-if="prefix" class="spicyInputPrefix">{{ prefix }}</span>
      <input
        type="text"
        name="spicyInput"
        class="spicyInput"
        :class="variant"
        v-model="inputValue"
        :placeholder="placeholder"
        :autofocus="autofocus"
        @input="handleInput"
        @blur="handleBlur"
        @focus="handleFocus"
        :aria-label="label"
        :aria-invalid="!!error"
        :aria-describedby="errorId"
        ref="input"
      />
      <button v-if="clearable && inputValue" class="clearButton" @click="clearInput">X</button>
    </div>
    <slot></slot>
    <span v-if="error" :id="errorId" class="spicyInputError">{{ error }}</span>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch, onMounted } from 'vue'

const emit = defineEmits(['update:modelValue', 'input', 'blur', 'focus'])

interface SpicyInputProps {
  modelValue?: string
  placeholder?: string
  label?: string
  error?: string
  variant?: 'outlined' | 'filled' | 'text'
  prefix?: string
  autofocus?: boolean
  clearable?: boolean
}

const props = withDefaults(defineProps<SpicyInputProps>(), {
  modelValue: '',
  placeholder: '',
  label: '',
  error: '',
  variant: 'outlined',
  prefix: '',
  autofocus: false,
  clearable: false
})

const inputValue = ref(props.modelValue)
const isFocused = ref(false)
const errorId = computed(() => (props.error ? 'spicyInputError' : undefined))

watch(
  () => props.modelValue,
  (newValue) => {
    inputValue.value = newValue
  }
)

onMounted(() => {
  if (props.autofocus) {
    const inputEl = document.querySelector('input[name="spicyInput"]') as HTMLInputElement
    inputEl?.focus()
  }
})

const handleInput = (event: Event) => {
  const target = event.target as HTMLInputElement
  inputValue.value = target.value
  emit('update:modelValue', inputValue.value)
  emit('input', inputValue.value)
}

const handleBlur = () => {
  isFocused.value = false
  emit('blur')
}

const handleFocus = () => {
  isFocused.value = true
  emit('focus')
}

const clearInput = () => {
  inputValue.value = ''
  emit('update:modelValue', inputValue.value)
}
</script>

<style>
.spicyInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  .spicyInput {
    &:focus {
      outline: none;
      border-color: var(--skPrimaryColor);
    }
  }
}

.spicyInputLabel {
  position: absolute;
  left: 16px;
  color: var(--skTextColor);
  transition:
    top 250ms,
    font-size 250ms,
    color 250ms;
}

.spicyInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.spicyInputPrefix {
  color: var(--skTextColor);
  pointer-events: none;
}

.spicyInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--skBorderColor, #515353);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 250ms;
  background-color: transparent;
  color: var(--skTextColor);
}

.clearButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: red;
}

.outlined {
  .spicyInput {
    border: 1px solid var(--skBorderColor, #515353);
    border-radius: 4px;
  }
}

.filled {
  .spicyInput {
    border: none;
    border-bottom: 1px solid var(--skBorderColor, #515353);
  }
}

.text {
  .spicyInput {
    border: none;
  }
}

.hasValue .spicyInputLabel,
.hasFocus .spicyInputLabel {
  top: -20px;
  font-size: 16px;
  color: var(--skPrimaryColor);
  font-weight: bold;
}

.hasError {
  .spicyInput {
    border-color: #ff0000;
  }
}

.spicyInputError {
  color: #ff0000;
  font-size: 12px;
}
</style>
