<template>
  <textarea
    class="spicyTextArea"
    :value="modelValue"
    @input="onInput"
    :name="name"
    :style="computedStyles"
    v-bind="$attrs"
  ></textarea>
  <slot></slot>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicyTextAreaProps {
  border?: string
  isRound?: boolean
  padding?: string
  color?: string
  modelValue?: string
  name?: string
}

const props = withDefaults(defineProps<SpicyTextAreaProps>(), {
  border: '1px solid var(--skBorderColor, #515353)',
  isRound: false,
  padding: '8px',
  color: '#4e4e4e',
  modelValue: '',
  name: ''
})

const computedStyles = computed(() => ({
  borderRadius: props.isRound ? '16px' : '2px',
  border: props.border,
  padding: props.padding,
  backgroundColor: props.color
}))

const emit = defineEmits(['update:modelValue'])

const onInput = (event: Event) => {
  emit('update:modelValue', (event.target as HTMLInputElement).value)
}
</script>

<style>
.spicyTextArea {
  width: 100%;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  color: #eee;

  &::placeholder {
    color: #ebff7a;
  }

  &:focus {
    outline: none;
    border-color: var(--skBorderColor, #515353);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:disabled::placeholder {
    color: #969696;
  }
}
</style>
