<template>
  <button
    v-spicyRipple
    :class="buttonClasses"
    :style="btnStyles"
    :disabled="disabled"
    @click="handleClick"
    role="button"
    :aria-label="text"
    :aria-disabled="disabled"
    :tabindex="disabled ? -1 : 0"
  >
    <svg v-if="mdi" class="spicyBtnIcon" :viewBox="'0 0 24 24'" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" class="spicyBtnMDI" :d="mdi" />
    </svg>
    <span v-if="icon && !mdi" class="spicyBtnIcon">{{ icon }}</span>
    <span v-if="text" class="spicyBtnText">{{ text }}</span>
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicyBtnProps {
  variant?: 'outlined' | 'filled'
  disabled?: boolean
  text?: string
  icon?: string
  mdi?: string
  size?: string
  bgColor?: string
  textColor?: string
  hoverColor?: string
  borderColor?: string
  fontSize?: number | string
  fontWeight?: number | string
}

const emit = defineEmits<{
  (e: 'click'): void
}>()

const handleClick = () => {
  if (!props.disabled) {
    emit('click')
  }
}

const props = withDefaults(defineProps<SpicyBtnProps>(), {
  variant: 'filled',
  disabled: false,
  textColor: '#ddd',
  fontSize: 16,
  fontWeight: 500
})

const btnStyles = computed(() => ({
  '--skFontSize': typeof props.fontSize === 'number' ? `${props.fontSize}px` : props.fontSize,
  '--skFontWeight': props.fontWeight,
  '--skBgColor': props.bgColor,
  '--skTextColor': props.textColor,
  '--skBorderColor': props.borderColor,
  '--hoverColor': props.hoverColor
}))

const isRound = computed(() => !props.text && (props.icon || props.mdi))

const buttonClasses = computed(() => ({
  spicyBtn: true,
  outlined: props.variant === 'outlined',
  disabled: props.disabled,
  isRound: isRound.value,
  large: props.size === 'large'
}))
</script>

<style>
.spicyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 16px;
  gap: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--skTextColor, #ddd);
  background-color: var(--skBgColor, #28292a);
  font-size: var(--skFontSize, 16px);
  font-weight: var(--skFontWeight, 500);
  transition: background-color 250ms;

  &.outlined {
    background-color: transparent;
    border: 2px solid var(--skBorderColor, #515353);
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover:not(.disabled) {
    background-color: var(--hoverColor, grey);
  }

  &.isRound {
    border-radius: 50px;
    padding: 12px;
  }

  &.large {
    padding: 12px 24px;
    font-size: 22px;
    &.isRound {
      padding: 16px;
    }
    .spicyBtnIcon {
      font-size: 32px;
    }
  }

  .spicyBtnIcon {
    font-size: 22px;
  }
}
</style>
