<template>
  <div class="spicyCarouselWrapper" :style="{ ...carouselStyles }">
    <!-- Carousel Container -->
    <div
      class="spicyCarouselContainer"
      @mouseenter="stopAutoplay"
      @mouseleave="startAutoplay"
      @touchstart="handleTouchStart"
      @touchmove="handleTouchMove"
    >
      <transition name="slide" mode="out-in">
        <div
          class="spicyCarouselSlide"
          :key="currentIndex"
          :class="{ pointCursor: props.enableImageClick }"
          :style="{ backgroundImage: `url(${currentSlide.img})` }"
          @click="handleImageClick"
        >
          <div
            class="spicyCarouselTextOverlay"
            :class="{ fullScreen: fullScreen }"
            v-if="slides[currentIndex].text"
            :aria-label="slides[currentIndex].text"
          >
            <span class="spicyCarouselInfoText">{{ slides[currentIndex].text }}</span>
          </div>
          <slot></slot>
        </div>
      </transition>
    </div>

    <div class="spicyCarouselTitle">
      <h2 v-if="showTitle">{{ currentSlide.title }}</h2>
    </div>

    <!-- Navigation Controls -->
    <div v-if="showNavigation" class="spicyCarouselNavControls">
      <button class="spicyCarouselPrevBtn" @click="prevSlide">
        <span class="spicyCarouselPrevBtnIcon">&lt;</span>
      </button>
      <button class="spicyCarouselNextBtn" @click="nextSlide">
        <span class="spicyCarouselNextBtnIcon">&gt;</span>
      </button>
    </div>

    <!-- Pagination -->
    <div v-if="showPagination" class="spicyCarouselPagination">
      <button
        v-for="index in visiblePagination"
        :key="index"
        @click="goToSlide(index)"
        class="spicyCarouselPageBtn"
        :class="{ active: index === currentIndex }"
      >
        <span class="spicyCarouselPage">{{ index + 1 }}</span>
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, onUnmounted, computed } from 'vue'
let startX: number,
  startY: number,
  moved = false

interface CarouselSlide {
  img: string
  title?: string
  text?: string
  fullScreen?: boolean
}

interface SpicyCarouselProps {
  autoplay?: boolean
  autoplaySpeed?: number
  showNavigation?: boolean
  showPagination?: boolean
  activeColor?: string
  loop?: boolean
  initialSlide?: number
  slides: CarouselSlide[]
  width?: string
  height?: string
  fullScreen?: boolean
  enableImageClick?: boolean
  paginationLimit?: number
}

const props = withDefaults(defineProps<SpicyCarouselProps>(), {
  autoplay: false,
  autoplaySpeed: 5000,
  showNavigation: true,
  showPagination: true,
  activeColor: 'var(--skPrimaryColor)',
  loop: true,
  initialSlide: 0,
  slides: () => [],
  width: '580px',
  height: '360px',
  fullScreen: false,
  enableImageClick: false,
  paginationLimit: 10
})

const carouselStyles = computed(() => ({
  '--width': props.width,
  '--height': props.height,
  '--activeColor': props.activeColor
}))

const paginationLimit = computed(() => props.paginationLimit)
const showTitle = computed(() => props.slides[currentIndex.value]?.title)
const fullScreen = computed(() => (currentSlide.value.fullScreen === false ? false : props.fullScreen))

const currentIndex = ref(props.initialSlide)
const currentSlide = computed(() => props.slides[currentIndex.value])
let autoplayInterval: number | undefined

const prevSlide = () => {
  currentIndex.value = (currentIndex.value - 1 + props.slides.length) % props.slides.length
}

const nextSlide = () => {
  currentIndex.value = (currentIndex.value + 1) % props.slides.length
}

const goToSlide = (index: number) => {
  currentIndex.value = index
}

const stopAutoplay = () => {
  if (autoplayInterval) {
    clearInterval(autoplayInterval)
  }
}

const startAutoplay = () => {
  if (props.autoplay) {
    autoplayInterval = window.setInterval(nextSlide, props.autoplaySpeed)
  }
}

const openImg = () => {
  window.open(currentSlide.value.img)
}

const handleImageClick = () => {
  if (props.enableImageClick) {
    openImg()
  }
}

const handleTouchStart = (event: TouchEvent) => {
  startX = event.touches[0].clientX
  startY = event.touches[0].clientY
  moved = false
}

const handleTouchMove = (event: TouchEvent) => {
  if (!moved) {
    const deltaX = event.touches[0].clientX - startX
    const deltaY = event.touches[0].clientY - startY
    if (Math.abs(deltaX) > Math.abs(deltaY)) {
      if (deltaX > 40) {
        prevSlide()
        moved = true
      } else if (deltaX < -40) {
        nextSlide()
        moved = true
      }
    }
  }
}

const visiblePagination = computed(() => {
  const totalSlides = props.slides.length
  const start = Math.max(0, currentIndex.value - Math.floor(paginationLimit.value / 2))
  const end = Math.min(totalSlides, start + paginationLimit.value)

  return [...Array(totalSlides).keys()].slice(start, end)
})

onMounted(() => {
  startAutoplay()
})

onUnmounted(() => {
  stopAutoplay()
})
</script>

<style>
.spicyCarouselWrapper {
  position: relative;
  width: var(--width, 580px);
  height: var(--height, 360px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spicyCarouselTitle {
    position: absolute;
    top: 0;
    width: var(--width, 580px);
    background-color: rgba(0, 0, 0, 0.6);
    height: 30px;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
  }

  .spicyCarouselContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    background-color: rgba(0, 0, 0, 0.6);
  }

  .spicyCarouselSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 300ms ease;
  }

  .spicyCarouselTextOverlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    &.fullScreen {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .spicyCarouselNavControls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    .spicyCarouselPrevBtn,
    .spicyCarouselNextBtn {
      border: none;
      font-size: 24px;
      color: #ccc;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 300ms;
      pointer-events: auto;
      z-index: 2;

      &:hover {
        background: var(--skPrimaryColor);
      }
    }

    .spicyCarouselPrevBtn {
      border-radius: 6px 0 0 6px;
    }

    .spicyCarouselNextBtn {
      border-radius: 0 6px 6px 0;
    }
  }

  .spicyCarouselPagination {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 50%;
    height: 30px;
    width: var(--width, 580px);
    justify-content: center;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    pointer-events: auto;

    .spicyCarouselPageBtn {
      border: none;
      color: #fff;
      cursor: pointer;
      background: rgba(0, 183, 255, 0.5);
      height: 26px;
      width: 26px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 300ms;

      &.active {
        background: var(--activeColor, var(--skPrimaryColor));
      }

      &:hover {
        background: var(--skPrimaryColor);
      }
    }
  }

  .pointCursor {
    cursor: pointer;
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: opacity 300ms;
  }

  .slide-enter,
  .slide-leave-to {
    opacity: 0;
  }
}
</style>
