<template>
  <div class="spicyDropdown" :class="{ open: isOpen }">
    <button
      @click="toggleDropdown"
      class="spicyDropdownButton"
      aria-haspopup="true"
      :aria-expanded="isOpen"
      :aria-controls="'spicyDropdownMenu'"
    >
      <svg v-if="iconToShow" :width="iconSize" :height="iconSize" viewBox="0 0 24 24" class="dropdownIcon">
        <path :d="iconToShow" />
      </svg>
      {{ label }}
      <svg
        v-if="!iconToShow"
        :width="iconSize"
        :height="iconSize"
        viewBox="0 0 24 24"
        class="arrow"
        :class="{ open: isOpen }"
      >
        <path d="M7 10l5 5 5-5H7z" />
      </svg>
    </button>
    <transition name="fade">
      <div
        v-if="isOpen"
        class="spicyDropdownMenu"
        :style="dropdownStyles"
        @click.self="isOpen = false"
        id="spicyDropdownMenu"
      >
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'

interface SpicyDropdownProps {
  label: string
  align?: 'left' | 'right' | 'center'
  width?: string
  icon?: string
  iconSize?: string
}

const props = withDefaults(defineProps<SpicyDropdownProps>(), {
  align: 'left',
  width: '200px',
  icon: '',
  iconSize: '24px'
})

const isOpen = ref(false)

const toggleDropdown = () => {
  isOpen.value = !isOpen.value
}

const iconToShow = computed(() => props.icon || '')

const dropdownStyles = computed(() => ({
  width: props.width,
  [props.align === 'right' ? 'right' : 'left']: 0,
  textAlign: props.align
}))
</script>

<style>
.spicyDropdown {
  position: relative;
  display: inline-block;
}

.spicyDropdownButton {
  background-color: var(--skBgColor);
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;

  .arrow {
    margin-left: 8px;
    transition: transform 300ms ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }
}

.dropdownIcon {
  margin-right: 8px;
}

.spicyDropdownMenu {
  position: absolute;
  top: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
