<template>
  <div :class="['spicyTabs']">
    <div class="spicyTabsHeader">
      <button v-if="showLeftButton && useScrollButtons" class="spicyOverflowButton left" @click="scrollLeft">
        ‹
      </button>
      <div ref="tabsWrapperRef" class="tabsWrapper" @wheel="handleWheel">
        <button
          v-for="tab in props.tabs"
          :key="tab.name"
          :class="['spicyTabButton', { active: activeTab === tab.name }]"
          @click="setActiveTab(tab.name)"
        >
          {{ tab.label }}
        </button>
      </div>
      <button
        v-if="showRightButton && useScrollButtons"
        class="spicyOverflowButton right"
        @click="scrollRight"
      >
        ›
      </button>
    </div>
    <transition name="fade">
      <div v-if="activeTabContent" class="spicyTabsContent">
        <slot :name="activeTabContent"></slot>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted, watch } from 'vue'

interface SpicyTabsProps {
  visibleTabs?: number
  useScrollButtons?: boolean
  tabs: Array<{ name: string; label: string }>
}

const props = withDefaults(defineProps<SpicyTabsProps>(), {
  visibleTabs: 8,
  useScrollButtons: true
})

const activeTab = ref(props.tabs[0]?.name || '')
const tabsWrapperRef = ref<HTMLDivElement | null>(null)
const showLeftButton = ref(false)
const showRightButton = ref(false)

const updateButtonVisibility = () => {
  if (tabsWrapperRef.value) {
    const { scrollLeft, scrollWidth, clientWidth } = tabsWrapperRef.value
    showLeftButton.value = scrollLeft > 0
    showRightButton.value = scrollWidth > clientWidth + scrollLeft
  }
}

const setActiveTab = (tabName: string) => {
  activeTab.value = tabName
}

const activeTabContent = computed(() => {
  return props.tabs.find((tab) => tab.name === activeTab.value)?.name
})

const scroll = (direction: 'left' | 'right') => {
  if (tabsWrapperRef.value) {
    const scrollAmount = direction === 'left' ? -200 : 200
    tabsWrapperRef.value.scrollBy({ left: scrollAmount, behavior: 'smooth' })
  }
}

const scrollLeft = () => {
  scroll('left')
  updateButtonVisibility()
}
const scrollRight = () => {
  scroll('right')
  updateButtonVisibility()
}

const handleWheel = (event: WheelEvent) => {
  if (tabsWrapperRef.value) {
    event.preventDefault()
    tabsWrapperRef.value.scrollLeft += event.deltaY
    updateButtonVisibility()
  }
}

onMounted(() => {
  updateButtonVisibility()
  window.addEventListener('resize', updateButtonVisibility)
})

onUnmounted(() => {
  window.removeEventListener('resize', updateButtonVisibility)
})

watch(() => tabsWrapperRef.value?.scrollLeft, updateButtonVisibility)
</script>

<style>
.spicyTabs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  background-color: var(--skBgColor);
}

.spicyTabsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--skBgSecondaryColor);
}

.spicyOverflowButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  color: var(--skTextColor);
  background-color: var(--skBgColor);
  transition: color 250ms;
  top: 0;
  height: 100%;
  flex-shrink: 0;
}

.spicyOverflowButton.left {
  left: 0;
}

.spicyOverflowButton.right {
  right: 0;
}

.tabsWrapper {
  flex: 1;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.tabsWrapper::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.spicyTabButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: var(--skTextColor);
  transition: color 250ms;
  flex-shrink: 0;
}

.spicyTabButton.active {
  font-weight: bold;
  color: var(--skPrimaryColor);
}

.spicyTabsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
