<template>
  <div :class="['spicySheet', { isRound: isRound, flex: flex }]" :style="sheetStyles">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicySheetProps {
  isRound?: boolean
  color?: string
  padding?: string
  flex?: boolean
}

const props = withDefaults(defineProps<SpicySheetProps>(), {
  isRound: false,
  color: '',
  padding: '',
  flex: false
})

const sheetStyles = computed(() => ({
  backgroundColor: props.color,
  padding: props.padding
}))
</script>

<style>
.spicySheet {
  &.isRound {
    border-radius: 8px;
  }

  &.flex {
    display: flex;
    flex-direction: column;
  }
}
</style>
