<template>
  <div
    :class="['spicyDivider', orientationClass]"
    :style="dividerStyles"
    role="separator"
    :aria-orientation="orientation"
  >
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicyDividerProps {
  variant?: 'solid' | 'dashed'
  orientation?: 'horizontal' | 'vertical'
  length?: string
  size?: string
  color?: string
}

const props = withDefaults(defineProps<SpicyDividerProps>(), {
  variant: 'solid',
  orientation: 'horizontal',
  length: '100%',
  size: '1px',
  color: '#5f5f5f'
})

const orientationClass = computed(() => (props.orientation === 'vertical' ? 'vertical' : 'horizontal'))

const dividerStyles = computed(() => {
  return {
    [props.orientation === 'vertical' ? 'height' : 'width']: props.length,
    border: `${props.size} ${props.variant} ${props.color}`,
    borderLeft: props.orientation === 'vertical' ? `${props.size} ${props.variant} ${props.color}` : 'none',
    borderBottom:
      props.orientation === 'horizontal' ? `${props.size} ${props.variant} ${props.color}` : 'none'
  }
})
</script>
