<template>
  <div v-if="isLinear" class="spicyProgress">
    <div class="spicyProgressBar" :style="progressStyles"></div>
    <div v-if="showLabel" class="spicyProgressLabel">{{ percentage }}%</div>
  </div>

  <div v-else class="spicyProgressCircular">
    <svg class="spicyCircularSvg" :width="size" :height="size">
      <circle
        class="spicyCircularTrack"
        :stroke-width="strokeWidth"
        :r="radius"
        :cx="center"
        :cy="center"
      ></circle>
      <circle
        class="spicyCircularProgress"
        :stroke="color"
        :stroke-width="strokeWidth"
        :r="radius"
        :cx="center"
        :cy="center"
        :style="circleStyles"
      ></circle>
    </svg>
    <div v-if="showLabel" class="spicyCircularLabel">{{ percentage }}%</div>
  </div>

  <slot></slot>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicyProgressProps {
  value: number
  max?: number
  color?: string
  height?: string
  strokeWidth?: number
  type?: 'linear' | 'circular'
  showLabel?: boolean
  size?: number
}

const props = withDefaults(defineProps<SpicyProgressProps>(), {
  max: 100,
  color: '#4caf50',
  height: '8px',
  strokeWidth: 8,
  type: 'linear',
  showLabel: false,
  size: 100
})

const percentage = computed(() => Math.round((props.value / props.max!) * 100))

const isLinear = computed(() => props.type === 'linear')

// Linear progress styles
const progressStyles = computed(() => ({
  width: `${percentage.value}%`,
  backgroundColor: props.color,
  height: props.height
}))

// Circular progress settings
const center = computed(() => props.size! / 2)
const radius = computed(() => (props.size! - props.strokeWidth!) / 2)
const circumference = computed(() => 2 * Math.PI * radius.value)

const circleStyles = computed(() => ({
  strokeDasharray: `${circumference.value} ${circumference.value}`,
  strokeDashoffset: `${circumference.value - (percentage.value / 100) * circumference.value}`,
  transition: 'stroke-dashoffset 400ms ease'
}))
</script>

<style>
/* Linear Progress */
.spicyProgress {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.spicyProgressBar {
  transition: width 400ms ease;
}

.spicyProgressLabel {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: #fff;
}

/* Circular Progress */
.spicyProgressCircular {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spicyCircularSvg {
  transform: rotate(-90deg);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.spicyCircularTrack {
  fill: none;
  stroke: #e0e0e0;
}

.spicyCircularProgress {
  fill: none;
  transition: stroke-dashoffset 400ms ease;
}

.spicyCircularLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
</style>
