<template>
  <div
    class="spicyFileInputWrapper"
    :class="[{ hasError: error, isDragging, disabled, [variant]: variant }]"
    @click="openFileDialog"
    @dragover.prevent="handleDragOver"
    @dragleave.prevent="handleDragLeave"
    @drop.prevent="handleDrop"
  >
    <label v-if="label && !fileList.length" class="spicyFileInputLabel" :aria-label="label">{{
      label
    }}</label>

    <input
      type="file"
      :multiple="multiple"
      :accept="accept"
      class="spicyFileInput"
      @change="handleFileChange"
      ref="fileInput"
      :disabled="disabled"
    />

    <div v-if="fileList.length" class="spicyFilePreview">
      <div v-for="(file, index) in fileList" :key="index" class="spicyFilePreviewItem">
        <span class="spicyFilePreviewName">{{ file.name }}</span>
        <button
          v-if="clearable && !mdi && !disabled"
          class="removeButton"
          @click.stop="removeFile(index)"
          aria-label="Remove"
        >
          X
        </button>
        <svg
          v-if="clearable && mdi && !disabled"
          class="removeButtonMDI"
          @click.stop="removeFile(index)"
          aria-label="Remove"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="red" :d="mdi" />
        </svg>
      </div>
    </div>

    <button
      v-if="clearable && fileList.length > 1 && !disabled"
      class="clearAllButton"
      @click.stop="clearFiles"
      aria-label="Clear All"
    >
      Clear All
    </button>

    <slot></slot>
    <span v-if="error" class="spicyFileInputError">{{ error }}</span>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'

const emit = defineEmits(['update:modelValue', 'change', 'error'])

interface SpicyFileInputProps {
  modelValue?: File[]
  label?: string
  error?: string
  accept?: string
  multiple?: boolean
  clearable?: boolean
  disabled?: boolean
  mdi?: string
  variant?: 'solid' | 'dashed' | 'plain'
}

const props = withDefaults(defineProps<SpicyFileInputProps>(), {
  modelValue: () => [],
  label: '',
  error: '',
  accept: '',
  multiple: false,
  clearable: false,
  disabled: false,
  mdi: '',
  variant: 'dashed'
})

const fileList = ref<File[]>(props.modelValue)
const fileInput = ref<HTMLInputElement | null>(null)
const isDragging = ref(false)

const handleFileChange = (event: Event) => {
  const target = event.target as HTMLInputElement
  if (target.files) {
    fileList.value = Array.from(target.files)
    emit('update:modelValue', fileList.value)
    emit('change', fileList.value)
  }
}

const clearFiles = () => {
  fileList.value = []
  emit('update:modelValue', fileList.value)
  if (fileInput.value) fileInput.value.value = ''
}

const removeFile = (index: number) => {
  fileList.value.splice(index, 1)
  emit('update:modelValue', fileList.value)
  if (fileList.value.length === 0 && fileInput.value) fileInput.value.value = ''
  emit('change', fileList.value)
}

const openFileDialog = () => {
  if (!props.disabled) {
    fileInput.value?.click()
  }
}

const handleDragOver = () => {
  if (!props.disabled) {
    isDragging.value = true
  }
}

const handleDragLeave = () => {
  if (!props.disabled) {
    isDragging.value = false
  }
}

const handleDrop = (event: DragEvent) => {
  if (!props.disabled) {
    const files = event.dataTransfer?.files
    if (files) {
      const acceptedFiles = Array.from(files).filter((file) => {
        if (!props.accept) return true
        const acceptedTypes = props.accept.split(',').map((type) => type.trim())
        return acceptedTypes.some((type) => {
          if (type.startsWith('.')) {
            return file.name.endsWith(type)
          } else {
            return file.type === type
          }
        })
      })

      if (!props.multiple && acceptedFiles.length > 0) {
        fileList.value = [acceptedFiles[0]]
      } else {
        fileList.value = acceptedFiles
      }

      emit('update:modelValue', fileList.value)
      emit('change', fileList.value)
    }
    isDragging.value = false
  }
}
</script>

<style>
.spicyFileInputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  border-width: 2px;
  max-width: 100%;

  &.isDragging {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--skPrimaryColor);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.hasError {
    border-color: #ff0000;
  }

  &.solid {
    border-style: solid;
  }

  &.dashed {
    border-style: dashed;
  }

  &.plain {
    border-style: none;
  }
}

.spicyFileInputLabel {
  font-size: 16px;
  margin: 8px;
  padding: 8px;
  color: var(--skTextColor, #ddd);
  user-select: none;
  cursor: pointer;
}

.spicyFileInput {
  display: none;
}

.spicyFilePreviewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px;
  color: var(--skTextColor);
  border: 1px solid var(--skBorderColor);
  border-radius: 4px;
  position: relative;

  &:hover {
    border-color: var(--skPrimaryColor);
  }

  & span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
  }
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.removeButtonMDI {
  width: 24px;
  height: 24px;
}

.clearAllButton {
  background: none;
  border: none;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
  color: var(--skPrimaryColor);
}

.spicyFileInputError {
  color: #ff0000;
  font-size: 12px;
  margin-top: 8px;
}
</style>
