<template>
  <div class="spicySlider">
    <label v-if="label" class="spicySliderLabel" :aria-label="label">{{ label }}</label>
    <input
      name="spicySliderInput"
      class="spicySliderInput"
      type="range"
      :min="numericMin"
      :max="numericMax"
      :step="numericStep"
      v-model="localValue"
      :aria-valuenow="localValue"
      :aria-valuemin="numericMin"
      :aria-valuemax="numericMax"
      :disabled="disabled"
      @change="handleChange"
    />
    <div aria-live="polite" class="hidden">{{ localValue }}</div>
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

interface SpicySliderProps {
  min?: number
  max?: number
  step?: number
  label?: string
  modelValue?: number
  disabled?: boolean
}

const props = withDefaults(defineProps<SpicySliderProps>(), {
  min: 0,
  max: 100,
  step: 1,
  label: '',
  modelValue: 0,
  disabled: false
})

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
  (e: 'change', value: number): void
}>()

const numericMin = computed(() => Number(props.min))
const numericMax = computed(() => Number(props.max))
const numericStep = computed(() => Number(props.step))

const localValue = computed({
  get: () => Number(props.modelValue),
  set: (value: number) => emit('update:modelValue', value)
})

const handleChange = () => {
  emit('change', localValue.value)
}
</script>

<style>
.spicySlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spicySliderLabel {
  margin-bottom: 5px;
  font-size: 16px;
}

.spicySliderInput {
  width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
</style>
