<template>
  <div class="spicyTree">
    <ul role="tree">
      <SpicyTreeNode class="spicyTreeNode" v-for="node in nodes" :key="node.id" :node="node" />
    </ul>
  </div>
</template>

<script setup lang="ts">
import SpicyTreeNode from './SpicyTreeNode.vue'

interface TreeNodeData {
  id: string
  label: string
  children?: TreeNodeData[]
}

const props = defineProps<{
  nodes: TreeNodeData[]
}>()
</script>

<style>
.spicyTree ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.spicyTree li {
  margin: 5px 0;
  position: relative;
}

.spicyTreeNode {
  cursor: pointer;
  transition: background-color 300ms;
}

.spicyTreeNode:focus-within {
  outline: 2px solid #007bff;
}
</style>
