<template>
  <Teleport to="body">
    <transition name="dialog-fade">
      <div
        v-if="modelValue"
        class="spicyDialogOverlay"
        :style="{ backgroundColor: color }"
        @click="onOverlayClick"
      >
        <div class="spicyDialog" :style="{ maxWidth }" @click.stop>
          <slot></slot>
        </div>
      </div>
    </transition>
  </Teleport>
</template>

<script setup lang="ts">
import { watch } from 'vue'

const props = defineProps({
  modelValue: Boolean,
  persistent: Boolean,
  maxWidth: {
    type: String,
    default: '500px'
  },
  color: {
    type: String,
    default: 'rgba(0, 0, 0, 0.5)'
  }
})

const emit = defineEmits(['update:modelValue'])

const close = () => {
  emit('update:modelValue', false)
}

const onOverlayClick = () => {
  if (!props.persistent) close()
}

const onEscape = (e: KeyboardEvent) => {
  if (e.key === 'Escape' && !props.persistent) close()
}

watch(
  () => props.modelValue,
  (val) => {
    if (val) {
      window.addEventListener('keydown', onEscape)
    } else {
      window.removeEventListener('keydown', onEscape)
    }
  }
)
</script>

<style>
.spicyDialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.spicyDialog {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
}

.dialog-fade-enter-active,
.dialog-fade-leave-active {
  transition: opacity 300ms ease;
}

.dialog-fade-enter,
.dialog-fade-leave-to {
  opacity: 0;
}
</style>
